<h1>{{name}}'s Top Tens</h1>
<hr>
<button (click)="toggle2016()">{{show2016 ? "Hide 2016" : "Show 2016"}}</button>
<div *ngIf="show2016">
  <h3>Movies 2016:</h3>
  <ol>
    <li *ngFor="let movie of movies2016">{{movie}}</li>
    <li>{{missing2016}}</li>
  </ol>
  <form>
    <label>Number 11: </label>
    <br>
    <input type="text" name="missing2016" [(ngModel)]="missing2016"/>
  </form>
</div>



<hr>
<button (click)="toggle2015()">{{show2015 ? "Hide 2015" : "Show 2015"}}</button>
<div *ngIf="show2015">
  <h3>Movies 2015:</h3>
  <ol>
    <li *ngFor="let movie of movies2015; let i = index">
      {{movie}} <button (click)="deleteMovie2015(i)">X</button>
    </li>
  </ol>
  <form (submit)="addMovie2015(movie2015.value)">
    <label>Add 2015 Movie: </label><br>
    <input type="text" #movie2015 /><br>
  </form>
</div>
<hr>
<h3>Posts</h3>
<div *ngFor="let post of posts">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
</div>
